@page "/"
@inject IeTranslate translate;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@translate.Version()

<p>@translate.GetLanguage()</p>

<p>@translate.SetLanguage("pt-BR").GetLanguage()</p>

<p>@translate.GetLanguage()</p>

<p>@translate.Translate("Teste")</p>

<p>@translate.Translate("Teste 2", "Blazor", "Microsoft")</p>


